body {
    width: 70%;
    margin: auto;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h1 {
    size: 32px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

figcaption {
    font-style: italic;
}

figure {
    float: right; /*обтекание картинки по левому краю*/
    padding-left: 25px; /*отступ слева*/
   /* margin-bottom: 1rem; отступ снизу*/
  }