body {
    width: 70%;
    margin: auto;
}

h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h1 {
    size: 32px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

figcaption {
    font-style: italic;
}

figcaption {
    font-style: italic;
    display: table-caption;
    caption-side: bottom;
    }

figure {
    clear: right;
    float: right;
    display:table;
    margin-right: auto;
    margin-left: 40px;
    margin-bottom: 20px;
   }